designs/server/services/ids.json
[
    {
        "id": "sd_2BL3haD1zQKVW6tW",
        "type": "tab",
        "createdDate": "2019-12-04T10:42:13.097Z",
        "label": "ids",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "ids",
        "relativeParentPath": ""
    },
    {
        "id": "sd_69MrTohXcRNvsGmt",
        "type": "HttpIn",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login API",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 92,
        "y": 286.953125,
        "wires": [
            [
                "sd_7rV4SADNkoj9MZHN"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_69MrTohXcRNvsGmt"
    },
    {
        "id": "sd_PtTtHljW2R030VEx",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Create session details",
        "script": "bh.local.reqParams = {\n    state : crypto.randomBytes(16).toString('hex'),\n    nonce : crypto.randomBytes(16).toString('hex'),\n    isMobile : bh.input.query.isMobile,\n    redirectTo : bh.input.query.redirectTo\n};",
        "functionName": "sd_PtTtHljW2R030VEx",
        "category": "Function",
        "x": 618,
        "y": 168.21875,
        "wires": [
            [
                "sd_j8oGptcCy9yo5D3a"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_j8oGptcCy9yo5D3a",
        "type": "Session",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.reqParams",
        "functionName": "sd_j8oGptcCy9yo5D3a",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "reqParams"
            }
        },
        "x": 763,
        "y": 410,
        "wires": [
            [
                "sd_apBB9Wpna0F3fHxb"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_IohkewSLYvjKvrvi",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate IDS login redirect URL",
        "script": "const authorizationRequest = Object.assign({\n    redirect_uri: url.resolve(bh.web.req.href, '/api/login/cb'),\n    scope: 'openid profile email address phone user',\n    state: bh.local.reqParams.state,\n    nonce: bh.local.reqParams.nonce,\n    response_type: bh.input.client.response_types[0],\n}, bh.input.authParams);\n\nbh.local.redirectHeaders = {\n    location: bh.input.client.authorizationUrl(authorizationRequest)\n};\n",
        "functionName": "sd_IohkewSLYvjKvrvi",
        "category": "Function",
        "x": 1194,
        "y": 160,
        "wires": [
            [
                "sd_6vlccvXl41Udffre"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_apBB9Wpna0F3fHxb",
        "type": "CallService",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_fhM4IqVxsdAxIphN",
            "serviceName": "idsutil",
            "id": "sd_fhM4IqVxsdAxIphN",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_WyPio7qwYw2MXA68",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_apBB9Wpna0F3fHxb",
        "category": "General",
        "x": 903.8125,
        "y": 173.984375,
        "wires": [
            [
                "sd_R6mDmfoiaBTmOmsc"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_6vlccvXl41Udffre",
        "type": "HttpOut",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect to IDS",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "obj",
        "responseMapping": {
            "status": 302,
            "obj": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_6vlccvXl41Udffre",
        "category": "HTTP",
        "x": 1343,
        "y": 408,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_o6ulbqt3Kn6pGIeY",
        "type": "Switch",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if client is registered",
        "property": "idsConfigured",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.idsConfigured",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_o6ulbqt3Kn6pGIeY",
        "category": "Function",
        "x": 388,
        "y": 286,
        "wires": [
            [
                "sd_PtTtHljW2R030VEx"
            ],
            [
                "sd_FTRQcbfcp8QjlDWW"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_7rV4SADNkoj9MZHN",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Assert IDS config",
        "script": "bh.local.idsConfigured = false;\nif (settings.default.hasOwnProperty('ids') && settings.default['ids'].hasOwnProperty('client_id') &&\n    settings.default['ids'].hasOwnProperty('client_secret')) {\n    bh.local.idsConfigured = true;\n}",
        "functionName": "sd_7rV4SADNkoj9MZHN",
        "category": "Function",
        "x": 234,
        "y": 287,
        "wires": [
            [
                "sd_o6ulbqt3Kn6pGIeY"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_mBy0FcDrBWDh9Wj1",
        "type": "HttpOut",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send client not registered response",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "bh.local.res.message",
            "ssd_typedInputField": true
        },
        "httpcode": "404",
        "responseType": "obj",
        "responseMapping": {
            "status": 404,
            "obj": "bh.local.res.message",
            "send": "bh.local.res.message"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_mBy0FcDrBWDh9Wj1",
        "category": "HTTP",
        "x": 1341,
        "y": 286,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_FTRQcbfcp8QjlDWW",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Client not registered object",
        "script": "bh.local.res = {\n    message: 'IDS client not registered. Register on the Neutrinos Stuido and try again'\n}",
        "functionName": "sd_FTRQcbfcp8QjlDWW",
        "category": "Function",
        "x": 617,
        "y": 291,
        "wires": [
            [
                "sd_mBy0FcDrBWDh9Wj1"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_erR4AYrtZ1Gtw2YM",
        "type": "MiddlewareStart",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "start",
        "name": "hrefstart",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 517,
        "y": 691.796875,
        "wires": [
            [
                "sd_qpN0MQHvB6oTjmA6"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_erR4AYrtZ1Gtw2YM"
    },
    {
        "id": "sd_8e1ahEqtnfjhASuf",
        "type": "MiddlewareEnd",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Href end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_8e1ahEqtnfjhASuf",
        "category": "HTTP",
        "x": 819.890625,
        "y": 692.796875,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_qpN0MQHvB6oTjmA6",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate href",
        "script": "const protocol = bh.input.headers['x-forwarded-proto'] || bh.web.req.protocol;\nconst href = protocol + \"://\" + bh.web.req.get('Host') + bh.web.req.originalUrl;\nbh.web.req.href = href;",
        "functionName": "sd_qpN0MQHvB6oTjmA6",
        "category": "Function",
        "x": 665,
        "y": 692.78125,
        "wires": [
            [
                "sd_8e1ahEqtnfjhASuf"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_R6mDmfoiaBTmOmsc",
        "type": "CallService",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Scope and consent values",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_fhM4IqVxsdAxIphN",
            "serviceName": "idsutil",
            "id": "sd_fhM4IqVxsdAxIphN",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_prTOys1k2ZwCXa9x",
            "flowName": "Get Authorization Params"
        },
        "inputVariables": [
            {
                "key": "authParams",
                "map": false,
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "authParams",
                "valueType": "bh.input",
                "value": "authParams",
                "mapVarName": "authParams",
                "localVar": "bh.input.authParams"
            }
        ],
        "callService": "./idsutil",
        "startName": "getAuthorizationParams",
        "inputParams": [
            ""
        ],
        "accept_bh": false,
        "functionName": "sd_R6mDmfoiaBTmOmsc",
        "category": "General",
        "x": 1051,
        "y": 415.78125,
        "wires": [
            [
                "sd_IohkewSLYvjKvrvi"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_W0N7XG2RnPtKqAp3",
        "type": "HttpIn",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Callback API",
        "path": "/login/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 88.890625,
        "y": 1038.796875,
        "wires": [
            [
                "sd_7WSrDK1Fosye6y2p"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_W0N7XG2RnPtKqAp3"
    },
    {
        "id": "sd_99eYpCOclQpYSq3q",
        "type": "CallService",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_fhM4IqVxsdAxIphN",
            "serviceName": "idsutil",
            "id": "sd_fhM4IqVxsdAxIphN",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_WyPio7qwYw2MXA68",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_99eYpCOclQpYSq3q",
        "category": "General",
        "x": 453,
        "y": 1036.8125,
        "wires": [
            [
                "sd_buFnssUShXMXI37c"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_buFnssUShXMXI37c",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get userinfo and tokens ",
        "script": "const params = bh.input.client.callbackParams(bh.web.req);\nlet tokenset = await bh.input.client.callback(url.resolve(bh.web.req.href, 'cb'), params, {\n    'nonce': bh.input.sessionParams.data.nonce,\n    'state': bh.input.sessionParams.data.state\n});\n\nbh.local.redirectTo = bh.input.sessionParams.data.redirectTo\n\nbh.local.userDetails = {\n    tokenset: Object.assign({}, tokenset),\n    userInfo: await bh.input.client.userinfo(tokenset['access_token'])\n}\nbh.local.userDetails['tokenset']['claims'] = Object.assign({}, tokenset.claims());",
        "functionName": "sd_buFnssUShXMXI37c",
        "category": "Function",
        "x": 616,
        "y": 1036.78125,
        "wires": [
            [
                "sd_NT3PsTCzy30OgJPw"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7WSrDK1Fosye6y2p",
        "type": "Session",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.input.sessionParams",
        "dataMapping": "",
        "functionName": "sd_7WSrDK1Fosye6y2p",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": "sessionParams"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 262,
        "y": 1038.796875,
        "wires": [
            [
                "sd_99eYpCOclQpYSq3q"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_rNKtGtYCDQPsdrh9",
        "type": "Switch",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send response based on device type",
        "property": "sessionParams.data.isMobile",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.sessionParams.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_rNKtGtYCDQPsdrh9",
        "category": "Function",
        "x": 1001,
        "y": 1035.78125,
        "wires": [
            [
                "sd_8tfPO9F4B3JKDjd5"
            ],
            [
                "sd_agfltkfPPpW5ZvyN"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8tfPO9F4B3JKDjd5",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Mobile html response",
        "script": "bh.local.htmlResponse = `\n <html>\n   <script>\n      let _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_8tfPO9F4B3JKDjd5",
        "category": "Function",
        "x": 1229.390643119812,
        "y": 891.2812614440918,
        "wires": [
            [
                "sd_ySkU4R8wrr8mhI0m"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_agfltkfPPpW5ZvyN",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Add location in headers obj",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.redirectTo\n}",
        "functionName": "sd_agfltkfPPpW5ZvyN",
        "category": "Function",
        "x": 1218.890640258789,
        "y": 1152.5312690734863,
        "wires": [
            [
                "sd_40FAwx84c0ygLMtn"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ySkU4R8wrr8mhI0m",
        "type": "HttpOut",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Html response to close in app browser",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "htmlResponse",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "txt",
        "responseMapping": {
            "status": 200,
            "txt": "bh.local.htmlResponse",
            "send": "bh.local.htmlResponse"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_ySkU4R8wrr8mhI0m",
        "category": "HTTP",
        "x": 1488.500020980835,
        "y": 1141.781265258789,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_40FAwx84c0ygLMtn",
        "type": "HttpOut",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'Redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'Redirecting'",
            "send": "'Redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_40FAwx84c0ygLMtn",
        "category": "HTTP",
        "x": 1483.000020980835,
        "y": 903.2812633514404,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NT3PsTCzy30OgJPw",
        "type": "Session",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.userDetails",
        "functionName": "sd_NT3PsTCzy30OgJPw",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "userDetails"
            }
        },
        "x": 792,
        "y": 1036.78125,
        "wires": [
            [
                "sd_rNKtGtYCDQPsdrh9"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_sqfTYruDSvtUiNNP",
        "type": "HttpIn",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get userinfo",
        "path": "/user/info",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "IDSAuthroizedAPIs",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/user/info": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 455.8125057220459,
        "y": 2060.734405517578,
        "wires": [
            [
                "sd_HOIq7cRBQCOmqZH9"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_sqfTYruDSvtUiNNP"
    },
    {
        "id": "sd_HOIq7cRBQCOmqZH9",
        "type": "Session",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "",
        "functionName": "sd_HOIq7cRBQCOmqZH9",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 653.0000057220459,
        "y": 2060.781280517578,
        "wires": [
            [
                "sd_boKwfEf5YIUwpQtY"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_boKwfEf5YIUwpQtY",
        "type": "HttpOut",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "session.data.userInfo",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.session.data.userInfo",
            "send": "bh.local.session.data.userInfo"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_boKwfEf5YIUwpQtY",
        "category": "HTTP",
        "x": 819.0000057220459,
        "y": 2060.781280517578,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_DiTtPtp6w27JHFcc",
        "type": "Catch",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_R6mDmfoiaBTmOmsc",
            "sd_W0N7XG2RnPtKqAp3",
            "sd_99eYpCOclQpYSq3q",
            "sd_buFnssUShXMXI37c",
            "sd_7WSrDK1Fosye6y2p",
            "sd_rNKtGtYCDQPsdrh9",
            "sd_8tfPO9F4B3JKDjd5",
            "sd_agfltkfPPpW5ZvyN",
            "sd_ySkU4R8wrr8mhI0m",
            "sd_40FAwx84c0ygLMtn"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_DiTtPtp6w27JHFcc",
        "category": "General",
        "x": 98.89062976837158,
        "y": 1233.0000343322754,
        "wires": [
            [
                "sd_p2LuGZibQQ9Fm8VR"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_p2LuGZibQQ9Fm8VR",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect back to login",
        "script": "bh.web.res.redirect('/api/login')",
        "functionName": "sd_p2LuGZibQQ9Fm8VR",
        "category": "Function",
        "x": 262.50000381469727,
        "y": 1231.0312690734863,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_sxalSyKcSL2oOWMb",
        "type": "HttpIn",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout API",
        "path": "/logout",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 79.890625,
        "y": 1679.796875,
        "wires": [
            [
                "sd_7oyG2WC3IfANx7Gb"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_sxalSyKcSL2oOWMb"
    },
    {
        "id": "sd_7oyG2WC3IfANx7Gb",
        "type": "Session",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_7oyG2WC3IfANx7Gb",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 249,
        "y": 1679.78125,
        "wires": [
            [
                "sd_0yPbiqcX9aKZDrwV"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_0yPbiqcX9aKZDrwV",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.sessionExists = false;\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset) {\n    bh.local.sessionData['data']['redirectTo'] = bh.input.query['redirectTo'];\n    bh.local.sessionData['data']['isMobile'] = bh.input.query['isMobile'];\n    bh.local.sessionExists = true;\n} else {\n    delete bh.local.sessionData['redirectTo'];\n}",
        "functionName": "sd_0yPbiqcX9aKZDrwV",
        "category": "Function",
        "x": 413,
        "y": 1678.78125,
        "wires": [
            [
                "sd_zm3ot1AAiRqQ1eMc"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ktSofN3tDCjgORPl",
        "type": "Switch",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Session exists ",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ktSofN3tDCjgORPl",
        "category": "Function",
        "x": 885,
        "y": 1680,
        "wires": [
            [
                "sd_rnOfB9Di6D6TGKzc"
            ],
            [
                "sd_YpiI8eVhyfCUkPBp"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_rnOfB9Di6D6TGKzc",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "await Promise.all([\n    bh.local.sessionData.data.tokenset.access_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.access_token, 'access_token') : undefined,\n    bh.local.sessionData.data.tokenset.refresh_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.refresh_token, 'refresh_token') : undefined,\n]);\n\nbh.local.res = {\n        'idsURL': url.format(Object.assign(url.parse(bh.input.client.issuer.end_session_endpoint), {\n            search: null,\n            query: {\n                id_token_hint: bh.local.sessionData.data.tokenset.id_token,\n                post_logout_redirect_uri: url.resolve(bh.web.req.href, '/api/logout/cb'),\n                client_id: settings.default['ids']['client_id']\n            },\n        })),\n        'sessionExists': true,\n}\n\n// Remove user info and tokenset before login redirect\nbh.local.sessionData.data.tokenset = null;\nbh.local.sessionData.data.userInfo = null;",
        "functionName": "sd_rnOfB9Di6D6TGKzc",
        "category": "Function",
        "x": 1045,
        "y": 1560,
        "wires": [
            [
                "sd_dCWCI7Lqpk6tk1KJ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zm3ot1AAiRqQ1eMc",
        "type": "CallService",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_fhM4IqVxsdAxIphN",
            "serviceName": "idsutil",
            "id": "sd_fhM4IqVxsdAxIphN",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_WyPio7qwYw2MXA68",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_zm3ot1AAiRqQ1eMc",
        "category": "General",
        "x": 645,
        "y": 1680,
        "wires": [
            [
                "sd_ktSofN3tDCjgORPl"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_b6XRU913cXZ7X6DZ",
        "type": "HttpOut",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send IDS logout Url",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_b6XRU913cXZ7X6DZ",
        "category": "HTTP",
        "x": 1345,
        "y": 1680,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_YpiI8eVhyfCUkPBp",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = {\n        'sessionExists': false,\n}",
        "functionName": "sd_YpiI8eVhyfCUkPBp",
        "category": "Function",
        "x": 1113.250015258789,
        "y": 1790.5312767028809,
        "wires": [
            [
                "sd_b6XRU913cXZ7X6DZ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_UmXTLw4Dv8OkJxOy",
        "type": "HttpIn",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout Callback API",
        "path": "/logout/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 163.1406421661377,
        "y": 2441.0469074249268,
        "wires": [
            [
                "sd_2HyEl1QLEmHcta1E"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_UmXTLw4Dv8OkJxOy"
    },
    {
        "id": "sd_2HyEl1QLEmHcta1E",
        "type": "Session",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_2HyEl1QLEmHcta1E",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 347.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_RePFW4alY76N3ztB"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wq3JzBKm4cjFJBHo",
        "type": "Switch",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check platform type",
        "property": "sessionData.data.isMobile",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionData.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_wq3JzBKm4cjFJBHo",
        "category": "Function",
        "x": 665.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_H55jF2nPQNROFVAN"
            ],
            [
                "sd_InpxrCYO4NiIcKuk"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_H55jF2nPQNROFVAN",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = \n`<html>\n   <script>\n      var _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_H55jF2nPQNROFVAN",
        "category": "Function",
        "x": 850.2500171661377,
        "y": 2516.0312824249268,
        "wires": [
            [
                "sd_yqT4S8YGXsqOwLRN"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yqT4S8YGXsqOwLRN",
        "type": "HttpOut",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send html response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_yqT4S8YGXsqOwLRN",
        "category": "HTTP",
        "x": 1083.2500171661377,
        "y": 2315.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_InpxrCYO4NiIcKuk",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.sessionData.data.redirectTo\n}",
        "functionName": "sd_InpxrCYO4NiIcKuk",
        "category": "Function",
        "x": 849.2500171661377,
        "y": 2337.0312824249268,
        "wires": [
            [
                "sd_pGyJ0mgAfiIPHQp7"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_pGyJ0mgAfiIPHQp7",
        "type": "HttpOut",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_pGyJ0mgAfiIPHQp7",
        "category": "HTTP",
        "x": 1089.2500171661377,
        "y": 2516.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RePFW4alY76N3ztB",
        "type": "Session",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_RePFW4alY76N3ztB",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 519.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_wq3JzBKm4cjFJBHo"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zCUlSVwKO9Earpb5",
        "type": "MiddlewareStart",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "start",
        "name": "Authorize",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 80.8125,
        "y": 3182.71875,
        "wires": [
            [
                "sd_7ghvN28YKhj7irsz"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_zCUlSVwKO9Earpb5"
    },
    {
        "id": "sd_l5TD0uNzW0fXMlqF",
        "type": "Session",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_l5TD0uNzW0fXMlqF",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 386,
        "y": 3178.78125,
        "wires": [
            [
                "sd_BGZnOA4mEh6qxyvv"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ACkPflXkdCi3uZ97",
        "type": "Switch",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if session exists",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ACkPflXkdCi3uZ97",
        "category": "Function",
        "x": 679,
        "y": 3173.78125,
        "wires": [
            [
                "sd_W2WcLwEkEHPMDfcY"
            ],
            [
                "sd_NoJKVaF0RyQn7UTT"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NoJKVaF0RyQn7UTT",
        "type": "Switch",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if it is the user info API.",
        "property": "path",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.path",
        "rules": [
            {
                "t": "cont",
                "v": "/user/info",
                "vt": "str",
                "gv": "\"/user/info\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_NoJKVaF0RyQn7UTT",
        "category": "Function",
        "x": 641,
        "y": 3388.78125,
        "wires": [
            [
                "sd_7f2ON9cwyurfVRrk"
            ],
            [
                "sd_Nt9jAw0rUNFlQMOR"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4MBTjKXFmf77bf4x",
        "type": "HttpOut",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send the session not present response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "403",
        "responseType": "obj",
        "responseMapping": {
            "status": 403,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_4MBTjKXFmf77bf4x",
        "category": "HTTP",
        "x": 1205,
        "y": 3366.78125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7f2ON9cwyurfVRrk",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { message: 'Session expired' };",
        "functionName": "sd_7f2ON9cwyurfVRrk",
        "category": "Function",
        "x": 892.890625,
        "y": 3386.78125,
        "wires": [
            [
                "sd_4MBTjKXFmf77bf4x"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Nt9jAw0rUNFlQMOR",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'NO_SESSION', message: 'Session not present' };",
        "functionName": "sd_Nt9jAw0rUNFlQMOR",
        "category": "Function",
        "x": 885,
        "y": 3522.8125,
        "wires": [
            [
                "sd_4MBTjKXFmf77bf4x"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_rEvCA8O6gJ3juy5i",
        "type": "Switch",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token exists after refresh",
        "property": "newSession",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_rEvCA8O6gJ3juy5i",
        "category": "Function",
        "x": 846,
        "y": 2953.78125,
        "wires": [
            [
                "sd_yZ6ohiRhFAp9Zg8N"
            ],
            [
                "sd_fSzUnBqMwJkkAzs5"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XhxuURl6vYkYas5q",
        "type": "MiddlewareEnd",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Authorize end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_XhxuURl6vYkYas5q",
        "category": "HTTP",
        "x": 1484,
        "y": 2956.703125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fa6NwprKMKk5Ueh2",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'TOKEN_EXPIRED', message: 'Token invalid or access revoked' };",
        "functionName": "sd_fa6NwprKMKk5Ueh2",
        "category": "Function",
        "x": 884,
        "y": 3259.78125,
        "wires": [
            [
                "sd_4MBTjKXFmf77bf4x"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_W2WcLwEkEHPMDfcY",
        "type": "CallService",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Call handleTokenExpiry",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_fhM4IqVxsdAxIphN",
            "serviceName": "idsutil",
            "id": "sd_fhM4IqVxsdAxIphN",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_q4YFcUpKm9EZFOIR",
            "flowName": "handleTokenExpiry"
        },
        "inputVariables": [
            {
                "key": "existingSession",
                "map": true,
                "valueType": "bh.local",
                "value": "sessionData"
            },
            {
                "key": "newSession",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "newSession",
                "valueType": "bh.local",
                "value": "newSession",
                "mapVarName": "newSession",
                "localVar": "bh.local.newSession"
            }
        ],
        "callService": "./idsutil",
        "startName": "handleTokenExpiry",
        "inputParams": [
            "bh.local.sessionData",
            null
        ],
        "accept_bh": false,
        "functionName": "sd_W2WcLwEkEHPMDfcY",
        "category": "General",
        "x": 631,
        "y": 2951.78125,
        "wires": [
            [
                "sd_rEvCA8O6gJ3juy5i"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7ghvN28YKhj7irsz",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local = {\n    \n}",
        "functionName": "sd_7ghvN28YKhj7irsz",
        "category": "Function",
        "x": 227.890625,
        "y": 3180.78125,
        "wires": [
            [
                "sd_l5TD0uNzW0fXMlqF"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_BGZnOA4mEh6qxyvv",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.sessionExists = false;\n\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset &&\n    bh.local.sessionData.data.tokenset.access_token && bh.local.sessionData.data.tokenset.refresh_token) {\n    bh.local.sessionExists = true;\n}",
        "functionName": "sd_BGZnOA4mEh6qxyvv",
        "category": "Function",
        "x": 550,
        "y": 3178.78125,
        "wires": [
            [
                "sd_ACkPflXkdCi3uZ97"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yZ6ohiRhFAp9Zg8N",
        "type": "Session",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_yZ6ohiRhFAp9Zg8N",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 887,
        "y": 3093.78125,
        "wires": [
            [
                "sd_fa6NwprKMKk5Ueh2"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fSzUnBqMwJkkAzs5",
        "type": "Switch",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update session if token rotated",
        "property": "newSession.rotated",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession.rotated",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_fSzUnBqMwJkkAzs5",
        "category": "Function",
        "x": 1051,
        "y": 2956.78125,
        "wires": [
            [
                "sd_HeiTQxdqKYgiivTC"
            ],
            [
                "sd_XhxuURl6vYkYas5q"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yaAqofnZDEN5S99r",
        "type": "Session",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.newSession",
        "dataMapping": "bh.local.newSession",
        "functionName": "sd_yaAqofnZDEN5S99r",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "newSession"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "newSession"
            }
        },
        "x": 1331,
        "y": 2827.78125,
        "wires": [
            [
                "sd_XhxuURl6vYkYas5q"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_HeiTQxdqKYgiivTC",
        "type": "Script",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "delete bh.local.newSession.rotated;",
        "functionName": "sd_HeiTQxdqKYgiivTC",
        "category": "Function",
        "x": 1192,
        "y": 2827.78125,
        "wires": [
            [
                "sd_yaAqofnZDEN5S99r"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wxeD8FJAlMmoCzdu",
        "type": "Comments",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idenity Server Login API",
        "comments": "<p>API used to authenticate users.</p>",
        "category": "General",
        "x": 685,
        "y": 58.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_Qa0XITt2C5MCY5XM",
        "type": "Comments",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Flow to add href to bh of the Origin",
        "comments": "",
        "category": "General",
        "x": 664,
        "y": 590.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_iJS0XUuMlI0Dfxle",
        "type": "Comments",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Login Callback API",
        "comments": "<p>After authentication, this is the API called by IDS to get Access token and user info</p>",
        "category": "General",
        "x": 685,
        "y": 897.2265625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_QZAZ3vE5jjQk2XOc",
        "type": "Comments",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "IDS Logout API",
        "comments": "<p>API to redirect the user to IDS Logout page</p>",
        "category": "General",
        "x": 720.0000114440918,
        "y": 1527.226583480835,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_DiFpMS0DM7uglGnj",
        "type": "Comments",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Fetch user info",
        "comments": "The API called by neutrinos-oauth-client module internally to fetch user info.",
        "category": "General",
        "x": 651.2500095367432,
        "y": 1947.2265892028809,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_eJC9Rng6BgtWH2WU",
        "type": "Comments",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect the user back to Login",
        "comments": "<p>Redirect back to /login if the flow cannot fetch user info or access token.</p>",
        "category": "General",
        "x": 177.50000381469727,
        "y": 1310.9765815734863,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_sjnjSm5v0Ihx0lWu",
        "type": "Comments",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check Authorization",
        "comments": "Use this middleware flow for all authorized APIs.",
        "category": "General",
        "x": 813.75,
        "y": 2805.9765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_ut8gM5WuuqexL8AP",
        "type": "Comments",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Logout Callback API",
        "comments": "<p>The API redirected by IDS to destroy the user session.</p>",
        "category": "General",
        "x": 581.25,
        "y": 2288.4765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_ZfWhCCzuhae67ba4",
        "type": "Catch",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "common",
        "nodeType": "start",
        "name": "Catch HandleTokenExpiry",
        "selectedNodes": [
            "sd_W2WcLwEkEHPMDfcY"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_ZfWhCCzuhae67ba4",
        "category": "General",
        "x": 765,
        "y": 3260,
        "wires": [
            [
                "sd_fa6NwprKMKk5Ueh2"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_dCWCI7Lqpk6tk1KJ",
        "type": "Session",
        "z": "sd_2BL3haD1zQKVW6tW",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "bh.local.sessionData.data",
        "functionName": "sd_dCWCI7Lqpk6tk1KJ",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session",
                "constant": false
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "sessionData.data",
                "constant": false
            }
        },
        "x": 1205,
        "y": 1560,
        "wires": [
            [
                "sd_b6XRU913cXZ7X6DZ"
            ]
        ],
        "generateNext": false,
        "generated": true
    }
]
